@media (min-width:300px) {
    .navbar{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.1);
        width: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: 0.2s;
        z-index: 99;
    }
    .home.active .navbar{
        width: 300px;
        transition: 0.5s;
    }
    .navbar p{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 30px;
        transition: 0.3s;
    }
    .navbar p:hover{
        transform: scale(1.2);
        margin-bottom: 25px;
    }
    .navbar p a{
        text-decoration: none;
        color: #e31b6d;
    }
}